block vars
    -let title = 'CRM Dashboard'
    -let lang = "en";

doctype html
html(lang=lang)
    head
        meta(charset="UTF-8")
        meta(name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel='stylesheet', type='text/css', href='stylesheets/reset.css')
        link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
        title #{title}
    body
        block content

