@import "variables";
@import "fonts";

.main {
  display: flex;
}

.sidebar {
  display: flex;
  margin-right: 2rem;
  flex-direction: column;
  width: 28rem;
  padding: 2.31rem 1.75rem 4.75rem;
  height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 4rem;

  &__img {
    width: 2.313rem;
    height: 2.313rem;
  }

  &__text {
    display: flex;
    gap: 0.2rem;
    align-items: end;
  }

  &__title {
    color: $base-color;
    font-family: "Poppins", 'sans-serif';
    font-size: 1.625rem;
    font-weight: 600;
    letter-spacing: 0.01625rem
  }

  &__ver {
    color: $ver-color;
    font-family: "Poppins", 'sans-serif';
    font-size: 0.625rem;
    font-weight: 500;
    letter-spacing: -0.00625rem;
  }
}

.menu {
  &__list {
    display: flex;
    gap: 1.8rem;
    flex-direction: column;
  }

  &__item {
    padding: 0.69rem;
  }

  &__item:hover {
    border-radius: 0.5rem;
    background: $hover-bg;
  }

  &__link {
    display: flex;
    align-items: center;
    color: $sec-color;
    font-family: Poppins, 'sans-serif';
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: -0.00875rem;
    text-decoration: none;
  }

  .icon__chevron {
    margin-left: auto;
  }

  .icon {
    margin-right: 0.88rem;
  }
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.avatar {
  display: flex;
  align-items: center;
  margin-top: auto;
  gap: 0.75rem;

  &__image {
  }

  &__img {
    width: 2.625rem;
    height: 2.625rem;
    max-width: none;
    border-radius: 2.625rem;
  }

  &__name {
    color: $base-color;
    font-family: "Poppins", 'sans-serif';
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.00875rem;
  }

  &__pos {
    color: $pos-color;
    font-family: "Poppins", 'sans-serif';
    font-size: 0.75rem;
    letter-spacing: 0.0075rem;
  }
}

.credentials {
  display: flex;
  flex-direction: column;
}

.dashboard {
  background-color: lightblue;
  width: 100vw;
  padding: 2.56rem 6rem 5rem;

  &__table {
    background-color: $table-bg;
    box-shadow: (0rem 0.7rem 3.75rem rgba(226, 236, 249, 0.50));
    border-radius: 1rem;
    padding: 1.88rem 2.37rem 2.56rem 2.75rem;
  }
}

.table {
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.06rem;
  }

  &__title {
  }

  &__title-main {
    color: $base-color;
    font-family: "Poppins", 'sans-serif';
    font-size: 1.375rem;
    font-weight: 600;
    letter-spacing: -0.01375rem;
    margin-bottom: 0.3rem;
  }

  &__title-sec {
    color: $sec-title;
    font-family: "Poppins", 'sans-serif';
    font-size: 0.875rem;
    letter-spacing: -0.00875rem;
  }

  &__search {
    position: relative;
  }

  &__input {
    border: none;
    border-radius: 0.625rem;
    background-color: $dash-bg;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  }

  &__icon {
    position: absolute;
    left: 10px;
    top: 45%;
    transform: translateY(-50%);
  }

  &__input::placeholder {
    color: $place-col;
    font-family: "Poppins", 'sans-serif';
    font-size: 0.75rem;
    letter-spacing: -0.0075rem;
  }

  &__header-text {
    color: $place-col;
    font-family: "Poppins", 'sans-serif';
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: -0.00875rem;
    text-align: left;
    padding: 0 0.5rem;
  }

  &__body-text {
    color: $table-body;
    font-family: "Poppins", 'sans-serif';
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: -0.00875rem;
  }

  .status {
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-family: "Poppins", 'sans-serif';
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: -0.00875rem;
    text-align: center;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1.9rem;
  }

  &__bottom-text {
    color: $bottom-text;
    font-family: Poppins, sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.00875rem;
  }

  &__bottom-pag {
    display: flex;
    gap: 0.75rem;
    align-items: baseline;
  }

  &__pag-dot {
    color: $base-color;
    font-family: Poppins, sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.0075rem;
    text-decoration: none;
  }

  &__pag-link {
    color: $bottom-link;
    font-family: Poppins, sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.0075rem;
    padding: 0.38rem 0.56rem;
    border-radius: 0.25rem;
    border: 1px solid #EEE;
    text-decoration: none;
    background: #F5F5F5;
  }

  &__pag-link:hover {
    color: $table-bg;
    background: $hover-bg;
  }
}

.hello {
  margin-bottom: 3.19rem;

  &__text {
    color: $base-color;
    font-family: "Poppins", 'sans-serif';
    font-size: 1.5rem;
    font-weight: 500;
  }
}

table td {
  border-bottom: 1px solid $bord-col;
  padding: 0.8rem 0.5rem;
}

.active {
  border-radius: 0.25rem;
  border: 0.1rem solid $active;
  background: rgba(22, 192, 152, 0.38);
  color: $active;
}

.inactive {
  color: $inactive;
  border-radius: 0.25rem;
  border: 0.1rem solid $inactive;
  background: $inactive-bg;
}

.person__card {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 8rem;
}

.person__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 1110px) {
  .dashboard {
    padding: 2.56rem 2rem 5rem;
  }

  .sidebar {
    max-width: 15rem;
    margin-right: 0;
    padding: 2.31rem 0.75rem 4.75rem;
    align-items: center;
  }

  .icon__text,
  .icon__chevron,
  .logo__text {
    display: none;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .menu .icon {
    margin-right: 0;
  }
}

@media (max-width: 875px) {
  table {
    display: none;
  }
  .table__title {
    display: none;
  }

  .table__bottom-text {
    display: none;
  }

  .sidebar {
    max-width: 7rem;
  }
}

@media (min-width: 875px) {
  .table__flex{
    display: none;
  }
}

@media (max-width: 580px) {
  .dashboard__table {
    padding: 1.88rem 1rem 1.56rem 1rem;

  }
  .table__input {
    max-width: 5rem;

  }
  .sidebar {
    max-width: 3rem;
  }
  .table__bottom-pag {
    flex-wrap: wrap;
    align-items: center;
  }

  .avatar {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

