$base-color: #000;
$table-bg:#fff;
$ver-color:#838383;
$pos-color:#757575;
$sec-color:#9197B3;
$hover-bg:#5932EA;
$dash-bg:#FAFBFF;
$sec-title:#16C098;
$place-col:#B5B7C0;
$table-body:#292D32;
$bottom-text:#B5B7C0;
$bottom-link:#404B52;
$bord-col:#EEEEEE;